body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    text-align: center;
    flex: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.section-intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 50px 0;
    background-color: #333;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
}

.intro-text, .intro-image {
    margin: 0 20px;
}

.intro-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    padding: 20px;
    background-color: #222;
    margin: 10px 0;
}

section h2 {
    margin-top: 0;
    color: #ff6b6b;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.contact-me {
    margin-top: 30px;
}

.contact-me h2 {
    margin-bottom: 20px;
}

.contact-me form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me form input,
.contact-me form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

.contact-me form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6b6b;
    color: #fff;
    cursor: pointer;
}

.contact-me form button:hover {
    background-color: #ff4c4c;
}

.project-card {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: left;
}

.project-card h3 {
    margin-top: 0;
}

.project-card p {
    margin: 5px 0;
}

.project-card .technologies {
    font-style: italic;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.show ul {
        display: flex;
    }

    .section-intro {
        grid-template-columns: 1fr;
    }

    .intro-content {
        grid-template-columns: 1fr;
    }
}
