html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f86e8;
}
header {
    background-color: hsl(244, 85%, 42%);
    color: #0fdf32;
    padding: 20px;
    text-align: center;
}
.header-left {
    display: flex;
    align-items: center;
}
nav {
    background-color: hsl(0, 83%, 46%);
    padding: 10px;
    text-align: center;
}
nav a {
    color: hsl(61, 92%, 49%);
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
nav a:hover, nav a.active {
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}
main {
    padding: 20px;
    background-color: hsla(17, 84%, 47%, 0.914);
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
main img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}